# Preparation

In [1]:
# These are my default settings
import warnings
warnings.filterwarnings("ignore")

import os
from tqdm import tqdm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import joblib

plt.rcParams["figure.figsize"] = (12, 6)
sns.set()
pd.set_option("display.max_columns", None)

import zipfile
import shutil

### Prepare general movie datas( in English) into df

In [2]:
df = pd.read_csv("./csv_origin/movies.csv").dropna(axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   title        10000 non-null  object
 2   poster       10000 non-null  object
 3   imdb_link    10000 non-null  object
 4   genre        10000 non-null  object
 5   year         10000 non-null  int64
 6   certificate  10000 non-null  object
 7   plot         10000 non-null  object
 8   directors    10000 non-null  object
 9   director_1   10000 non-null  object
 10  director_2   10000 non-null  object
 11  actors       10000 non-null  object
 12  actor_1      10000 non-null  object
 13  actor_2      10000 non-null  object
 14  actor_3      10000 non-null  object
 15  time_minute  10000 non-null  int64
 16  imdb_rating  10000 non-null  float64
 17  vote         10000 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 1.4+ MB

In [3]:
df.tail(5)

,Unnamed: 0,title,poster,imdb_link,genre,year,certificate,plot,directors,director_1,director_2,actors,actor_1,actor_2,actor_3,time_minute,imdb_rating,vote
9995,9995,Blue Like Jazz,https://m.media-amazon.com/images/S/sash/4Fyxw...,https://www.imdb.com/title/tt1758575/,"['Comedy', 'Drama']",2012,PG-13,"Don, a nineteen-year-old sophomore at a Texas ...",['Steve Taylor'],['Steve Taylor'],-,"['Marshall Allman', 'Claire Holt', 'Tania Raym...",Marshall Allman,Claire Holt,Tania Raymonde,108,5.9,2984
9996,9996,Big Stone Gap,https://m.media-amazon.com/images/S/sash/4Fyxw...,https://www.imdb.com/title/tt3254796/,"['Comedy', 'Romance']",2014,PG-13,In a small town nestled in the Appalachian Mou...,['Adriana Trigiani'],['Adriana Trigiani'],-,"['Ashley Judd', 'Patrick Wilson', 'Whoopi Gold...",Ashley Judd,Patrick Wilson,Whoopi Goldberg,103,5.7,2983
9997,9997,Mes chers amis 2,https://m.media-amazon.com/images/S/sash/4Fyxw...,https://www.imdb.com/title/tt0083549/,"['Comedy', 'Drama']",1982,-,The four old friends meet on the grave of the ...,['Mario Monicelli'],['Mario Monicelli'],-,"['Ugo Tognazzi', 'Gastone Moschin', 'Adolfo Ce...",Ugo Tognazzi,Gastone Moschin,Adolfo Celi,127,7.7,2983
9998,9998,Cesar & Rosalie,https://m.media-amazon.com/images/S/sash/4Fyxw...,https://www.imdb.com/title/tt0068441/,"['Drama', 'Romance']",1972,R,Cesar is in love with Rosalie. But Rosalie isn...,['Claude Sautet'],['Claude Sautet'],-,"['Yves Montand', 'Romy Schneider', 'Sami Frey']",Yves Montand,Romy Schneider,Sami Frey,104,7.4,2983
9999,9999,Little Murders,https://m.media-amazon.com/images/S/sash/4Fyxw...,https://www.imdb.com/title/tt0067350/,"['Comedy', 'Crime']",1971,PG,Pitch black comedy about a young nihilistic Ne...,['Alan Arkin'],['Alan Arkin'],-,"['Elliott Gould', 'Marcia Rodd', 'Vincent Gard...",Elliott Gould,Marcia Rodd,Vincent Gardenia,108,7.0,2983

### Data cleanings

In [4]:
df.columns.to_list()

['Unnamed: 0',
 'title',
 'poster',
 'imdb_link',
 'genre',
 'year',
 'certificate',
 'plot',
 'directors',
 'director_1',
 'director_2',
 'actors',
 'actor_1',
 'actor_2',
 'actor_3',
 'time_minute',
 'imdb_rating',
 'vote']

In [5]:
df_1 = df[[
    # 'Unnamed: 0',
    # 'title',
    # 'poster',
    'imdb_link',
    'genre',
    'year',
    # 'certificate',
    # 'plot',
    'directors',
    # 'director_1',
    # 'director_2',
    'actors',
    # 'actor_1',
    # 'actor_2',
    # 'actor_3',
    'time_minute',
    'imdb_rating',
    'vote'
 ]].copy()

df_1.head(5)

,imdb_link,genre,year,directors,actors,time_minute,imdb_rating,vote
0,https://www.imdb.com/title/tt0111161/,['Drama'],1994,['Frank Darabont'],"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton']",142,9.3,2517941
1,https://www.imdb.com/title/tt0468569/,"['Action', 'Crime', 'Drama']",2008,['Christopher Nolan'],"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",152,9.0,2468188
2,https://www.imdb.com/title/tt1375666/,"['Action', 'Adventure', 'Sci-Fi']",2010,['Christopher Nolan'],"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",148,8.8,2213396
3,https://www.imdb.com/title/tt0137523/,['Drama'],1999,['David Fincher'],"['Brad Pitt', 'Edward Norton', 'Meat Loaf']",139,8.8,1980219
4,https://www.imdb.com/title/tt0109830/,"['Drama', 'Romance']",1994,['Robert Zemeckis'],"['Tom Hanks', 'Robin Wright', 'Gary Sinise']",142,8.8,1943101

### Now exgtract imdb_id from imdb_link

In [6]:
def get_id(string):
    """
    >>> get_id("https://www.imdb.com/title/tt0111161/")
    'tt0111161'
    """
    words = string.split("/")
    id = [word for word in words if word.startswith("tt")]
    return "".join(id)

if __name__ == '__main__':
    import doctest
    doctest.testmod()

In [7]:
df_1["id_imdb"] = df_1["imdb_link"].apply(get_id)
df_1.head(5)

,imdb_link,genre,year,directors,actors,time_minute,imdb_rating,vote,id_imdb
0,https://www.imdb.com/title/tt0111161/,['Drama'],1994,['Frank Darabont'],"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton']",142,9.3,2517941,tt0111161
1,https://www.imdb.com/title/tt0468569/,"['Action', 'Crime', 'Drama']",2008,['Christopher Nolan'],"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",152,9.0,2468188,tt0468569
2,https://www.imdb.com/title/tt1375666/,"['Action', 'Adventure', 'Sci-Fi']",2010,['Christopher Nolan'],"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",148,8.8,2213396,tt1375666
3,https://www.imdb.com/title/tt0137523/,['Drama'],1999,['David Fincher'],"['Brad Pitt', 'Edward Norton', 'Meat Loaf']",139,8.8,1980219,tt0137523
4,https://www.imdb.com/title/tt0109830/,"['Drama', 'Romance']",1994,['Robert Zemeckis'],"['Tom Hanks', 'Robin Wright', 'Gary Sinise']",142,8.8,1943101,tt0109830

In [8]:

df_1 = df_1.drop("imdb_link", axis=1)

In [9]:
import ast

def list_clean(string):
    """
    >>> list_clean('["a", "b"]')
    ['a', 'b']
    """
    return ast.literal_eval(string)

In [10]:
df_1["genre"] = df_1["genre"].apply(list_clean)
df_1["directors"] = df_1["directors"].apply(list_clean)
df_1["actors"] = df_1["actors"].apply(list_clean)
df_1.head(5)

,genre,year,directors,actors,time_minute,imdb_rating,vote,id_imdb
0,[Drama],1994,[Frank Darabont],"[Tim Robbins, Morgan Freeman, Bob Gunton]",142,9.3,2517941,tt0111161
1,"[Action, Crime, Drama]",2008,[Christopher Nolan],"[Christian Bale, Heath Ledger, Aaron Eckhart]",152,9.0,2468188,tt0468569
2,"[Action, Adventure, Sci-Fi]",2010,[Christopher Nolan],"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elli...",148,8.8,2213396,tt1375666
3,[Drama],1999,[David Fincher],"[Brad Pitt, Edward Norton, Meat Loaf]",139,8.8,1980219,tt0137523
4,"[Drama, Romance]",1994,[Robert Zemeckis],"[Tom Hanks, Robin Wright, Gary Sinise]",142,8.8,1943101,tt0109830

In [11]:
list_id = df_1["id_imdb"].to_list()

# Extraction title and overview data in French from The Movie Data Base with api